<h1>Administration</h1>

<ul>
<li><%= link_to "Anrede", anredes_path %></li>
<li><%= link_to "Akademische Titel", akademischer_titels_path %></li>
<li><%= link_to "Berufs Titel", berufs_titels_path %></li>
<li><%= link_to "Berufs Funktion", berufs_funktions_path %></li>
</ul>

