<p id="notice"><%= notice %></p>

<p>
  <b>Funktion:</b>
  <%= @berufs_funktion.funktion %>
</p>


<%= link_to 'Edit', edit_berufs_funktion_path(@berufs_funktion) %> |
<%= link_to 'Back', berufs_funktions_path %>
