<h1>Listing adresses</h1>

<%= grid(@adr_grid) do |g|

  g.column :name => 'Anrede', :attribute => 'anrede_id', 
    :custom_filter => Anrede.find(:all).map{|anrede| [anrede.anrede, anrede.id]}, :auto_reload => true  do |adr|
    adr.anrede.anrede if adr.anrede
  end

  g.column :name => 'Akademischertitel', :attribute => 'akademischerTitel_id', 
    :custom_filter => AkademischerTitel.find(:all).map{|akt| [akt.titel, akt.id]}, :auto_reload => true  do |adr|
    adr.akademischerTitel.titel if adr.akademischerTitel
  end
  
  g.column :name => 'Berufstitel', :attribute => 'berufsTitel_id', 
    :custom_filter => BerufsTitel.find(:all).map{|brt| [brt.titel, brt.id]}, :auto_reload => true  do |adr|
    adr.berufsTitel.titel if adr.berufsTitel
  end
  
  g.column :name => 'Berufsfunktion', :attribute => 'berufsFunktion_id', 
    :custom_filter => BerufsFunktion.find(:all).map{|bft| [bft.funktion, bft.id]}, :auto_reload => true  do |adr|
    adr.berufsFunktion.funktion if adr.berufsFunktion
  end
  
  g.column :name => 'Vorname', :attribute => 'vorname'  do |adr|
    adr.vorname
  end

  g.column  :name => 'Nachname', :attribute => 'nachname' do |adr|
    adr.nachname
  end
  
  g.column  :name => 'Straße', :attribute => 'adrStrasse' do |adr|
    adr.adrStrasse
  end

  g.column  :name => 'Ort', :attribute => 'adrOrt' do |adr|
    adr.adrOrt
  end

  g.column  :name => 'PLZ', :attribute => 'adrPlz' do |adr|
    adr.adrPlz
  end

  g.column :name => 'Land', :attribute => 'land_id', 
    :custom_filter => Land.find(:all).map{|lnd| [lnd.name, lnd.id]}, :auto_reload => true  do |adr|
    adr.land.name if adr.land
  end
  
  g.column  :name => 'Firma', :attribute => 'firma' do |adr|
    adr.firma
  end
  
  g.column  :name => 'Institution', :attribute => 'institution' do |adr|
    adr.institution
  end
  
  g.column  :name => 'Newsletter', :attribute => 'newsletter' do |adr|
    adr.newsletter
  end
  
  
  g.column do |adr|
    link_to('Edit', edit_adress_path(adr))
  end
end -%>

<!-- alt -->

<br />

<%= link_to 'New Adresse', new_adress_path %>
