<p id="notice"><%= notice %></p>

<p>
  <b>Titel:</b>
  <%= @akademischer_titel.titel %>
</p>


<%= link_to 'Edit', edit_akademischer_titel_path(@akademischer_titel) %> |
<%= link_to 'Back', akademischer_titels_path %>
